/*---------Colour--------*/
.bg_darkblue {
    background-color: #182b66 !important;
}
.bg_lightblue{
    background-color: #647fd1 !important;
}
.bg_black{
    background-color: #000000 !important;
}
.bg_green {
    background-color: #108410;
}
.white_text{
    color: white !important;
}
.darkblue_text{
    color: #182b66 !important;
}
.lightblue_text{
    color: #647fd1 !important;
}
.grey_text {
    color: #aeaeae;
}
/*---------Colour-End--------*/

/*-------text-size--------*/
.text-9{
    font-size: 9pt !important;
}
.text-10{
    font-size: 10pt !important;
}
.text-11{
    font-size: 11pt !important;
}
/*-------text-size-end--------*/

/*--------weidth height-start--------*/
.w-98{
    width: 98% !important;
}
.height-65{
    height: 65px;
    overflow: hidden;
}
.height-95{
    height: 95px;
    overflow: hidden;
}
/*--------height-end---------*/
/*---------MISC----------*/
.small_box {
    display: inline-block;
}

/*---------MISC End----------*/

/*---------Navbar Starts----------*/
@media (min-width: 1200px) {
    .navbar.navbar-light .nav-line > li {
        content: "";
        border-right: 2px solid #ffffff;
    }
    .navbar.navbar-light .nav-line > li:last-child {
        border: none;
    }
    .nav-follow {
        flex-direction: row !important;
        margin-left: auto;
    }

}
.nav-position {
    height: 55px;
    align-items: initial !important;
    padding: 0 !important;
}
.navbar.navbar-light .navbar-brand {
    padding-top: 50px;
    min-width: 256px;
    padding-left: 15px;
    z-index: 1;
}
#navbarCollapse{
    padding-top: 25px ;
}
.navbar-light .navbar-nav .nav-item > .nav-link {
    text-transform: uppercase;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    font-size: 11pt;
}
.nav-follow {
    flex-direction: row !important;
}
.nav-follow li {
    padding-left: 1rem;
}
.nav-subtitle {
    padding-left: 280px;
    padding-top: 10px;
}
.form-inline{
    position: relative;
    align-items: start !important;
}
.socialmedia-list {
    list-style: none;
    margin-bottom: 0px;
    padding-left: 20px;
}
.socialmedia-icons {
    display: inline-block;
    padding: 8px 5px;
}
.form-inline .input-group {
    width: auto;
    padding-top: 8px;
}
.form-inline .input-group .form-control {
    border-radius: 25px 25px !important;
    padding: 0px 10px;
    width: 215px;
    background-color: #c6cee9;
}
.form-inline .input-group .btn {
    border: none;
    padding: 2px 0px 0 10px !important;
}
.fa-search{
    font-size: 15pt;
}
@media (max-width: 700px) {
    .form-inline .input-group {
        width: 100% !important;
    }
}
/*---------Navbar Ends----------*/

/*---------Carousel----------*/
/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 768px) {

    /* show 3 items */
    .carousel-inner .active,
    .carousel-inner .active + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item,
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }

    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item,
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item + .carousel-item{
        transition: none;
    }

    .carousel-inner .carousel-item-next,
    .carousel-inner .carousel-item-prev {
        position: relative;
        transform: translate3d(0, 0, 0);
    }

    .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item  {
        position: absolute;
        top: 0;
        right:0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item{
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }

    /* farthest right hidden item must be abso position for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }

    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item{
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }

}

/* Bootstrap Lightbox using Modal */

#profile-grid { overflow: auto; white-space: normal; }
#profile-grid .profile { padding-bottom: 40px; }
#profile-grid .panel { padding: 0 }
#profile-grid .panel-body { padding: 15px }
#profile-grid .profile-name { font-weight: bold; }
#profile-grid .thumbnail {margin-bottom:6px;}
#profile-grid .panel-thumbnail { overflow: hidden; }
#profile-grid .img-rounded { border-radius: 4px 4px 0 0;}
.carousel-control-next, .carousel-control-prev {
    width: 11px !important;
    font-size: 20pt;
    color: #aeaeae !important;
    opacity: .8 !important;
    top: 70px !important;
    align-items: start !important;
}
@media(min-width: 992px){
    .col-lg-5x{
        width: 20% !important;
        float: left;
        position: relative;
        min-height: 1px;
        padding-right: 10px !important;
        padding-left: 10px !important;
    }
    .col-lg-5x {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20% !important;
        max-width: 20% !important;
    }
}
/*---------Carousel End----------*/
/*---------Footer Starts----------*/
.list-inline-item a{
    color: white;
    border-bottom: 1px solid white;
}
.list-inline-item a:hover{
    color: #647fd1;
    border-bottom: 1px solid #647fd1;
}
/*---------Footer Ends----------*/

/*-------------Home--------------*/
.tbn-popular {
    width: 55px;
    vertical-align: top;
}
.heading-popular {
    width: calc(100% - 60px);
    line-height: 1.1;
}
.fa-youtube,.fa-camera {
    font-size: 25pt;
    vertical-align: sub;
    padding-left: 10px;
}